package io.rancher.type

import io.rancher.base.RancherModel
import io.rancher.base.RancherType

@RancherModel
class <typeClass> extends RancherType {
  <fields.keys :{field | <fields.(field)> <field>}; separator="\n">
}
